<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>이메일 변경 페이지</title>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/sidebar.css">
  <link rel="stylesheet" href="/css/settings.css">
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
  <div th:replace="fragments/member-sidebar :: memberSidebar"></div>

  <div class="main">
    <div class="main-container">
      <div class="setting-bento">
        <div class="bento-title">이메일 변경</div>
        <div class="bento-form">
          <form id="emailForm" action="/update-email" method="post">
            <input type="email" id="emailInput" placeholder="이메일 입력" name="newEmail" required />
            <input type="password" placeholder="비밀번호 입력" name="password" required />
            <div id="emailMessage" class="validation-message"></div>
          </form>
        </div>
      </div>
      <div class="button-wrapper">
        <button type="submit" class="confirm-btn" form="emailForm">변경하기</button>
      </div>
    </div>
  </div>

  <!--이메일 형식 검사-->
  <script>
    const emailInput = document.getElementById('emailInput');
    const messageBox = document.getElementById('emailMessage');

    emailInput.addEventListener('input', () => {
      const email = emailInput.value;
      const regex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;

      if (email === "") {
        messageBox.textContent = "";
      } else if (regex.test(email)) {
        messageBox.textContent = "올바른 이메일 형식입니다.";
        messageBox.style.color = "green";
      } else {
        messageBox.textContent = "이메일 형식이 올바르지 않습니다.";
        messageBox.style.color = "red";
      }
    });
  </script>
  <script src="/js/sidebar.js"></script>
</body>
</html>