<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>비밀번호 변경 페이지</title>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/sidebar.css">
  <link rel="stylesheet" href="/css/settings.css">
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
  <div th:replace="fragments/member-sidebar :: memberSidebar"></div>
  <script src="/js/logout.js"></script>

  <div class="main">
    <div class="main-container">
      <div class="setting-bento">
        <div class="bento-title">비밀번호 변경</div>
        <div class="bento-form">
          <form id="passwordForm" action="/update-password" method="post">
            <input type="password" placeholder="현재 비밀번호" name="newEmail" required />
            <input type="password" placeholder="변경할 비밀번호" name="password" required />
            <input type="password" placeholder="변경할 비밀번호 확인" name="password" required />
          </form>
        </div>
      </div>
      <div class="button-wrapper">
        <button type="submit" class="confirm-btn" form="passwordForm">변경하기</button>
      </div>
    </div>
  </div>

  <script src="/js/sidebar.js"></script>
</body>
</html>