* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  display: flex;
  height: 100vh;
}

.main {
  flex: 1;
  background-color: #F2EAC9;
  padding: 30px;
}
