* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  display: flex;
  height: 100vh;
}

.main {
  flex: 1;
  background-color: #E0E8E2;
  padding: 30px;
}
